<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="icon" href="../static/img/tittle.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<div id="header">
    <div id="container">
        <h1>
            <marquee>Elektron navbat tizimi</marquee>
        </h1>
    </div>
</div>
<div class="body">
    <div class="body-items">
        <h1>Navbatlarni boshqarish</h1><br><br><br>
        <div class="main-block">
            <form method="post" action="/queue/next">
                <input class="submitButton" type="submit" value="Keyingi navbat" onmousedown="playSound()">
            </form>
        </div>
    </div>
</div>

</body>
<script type="application/javascript">
    function playSound(){
        console.log("Listen")
        var audio = new Audio('./static/sound/sound1.mp3');
        audio.play();
    }

</script>
</html>

