<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="icon" href="../static/img/tittle.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<div id="header">
    <div id="container">
        <h1>
            <marquee>Elektron navbat tizimi</marquee>
        </h1>
    </div>
</div>
<div class="body">
    <div class="body-items">
        <h1>Navbat olish</h1>
        <div class="main-block">
            <form method="post" action="/generate?type=a">
            <input class="submitButton" type="submit" value="A - bo'lim uchun">
            </form>
        </div>
        <div class="main-block">
            <form method="post" action="/generate?type=b">
                <input class="submitButton" type="submit" value="B - bo'lim uchun">
            </form>
        </div>
        <div class="main-block">
            <form method="post" action="/generate?type=c">
                <input class="submitButton" type="submit" value="C - bo'lim uchun">
            </form>
        </div>
        <div class="main-block">
            <form method="post" action="/generate?type=d" >
                <input class="submitButton" type="submit" value="D - bo'lim uchun">
            </form>
        </div>
    </div>
</div>
</body>

</html>

